USE [master]
GO
/****** Object:  Database [SchoolDB]    Script Date: 9/20/2018 9:02:17 PM ******/
CREATE DATABASE [SchoolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SchoolDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SchoolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SchoolDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/20/2018 9:02:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](200) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [StudentName], [Birthday], [Gender], [Phone], [Email], [Address]) VALUES (2, N'Phan Ngoc Lam', CAST(0x00008A6500000000 AS DateTime), N'Nam', N'09876543122', N'lampn@gmail.com', N'Da Nang, Viet Nam')
INSERT [dbo].[Students] ([Id], [StudentName], [Birthday], [Gender], [Phone], [Email], [Address]) VALUES (3, N'Phan Ngoc Lam', CAST(0x00008AA80146FB08 AS DateTime), N'Nam', N'01226266985', N'davidbull931997@gmail.com', N'29 Le Phu Tran, Man Thai, Son Tra, Da Nangg')
SET IDENTITY_INSERT [dbo].[Students] OFF
USE [master]
GO
